.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
}
.scroll-container {
    width: 100%;
    background: #1146a9;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

.scroll-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.hero-overlay {
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    text-align: center;
}



body {
  background-color: #f8f9fa;
}

.live-dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.table thead {
  background-color: #343a40;
  color: #fff;
}

.live-heading {
    margin-bottom: 0.5rem; /* adjust as needed */
  }

